body {
    background-color: #ddd;
}

#board {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#player {
    background-color: limegreen;
    position: absolute;
    bottom: 0;
    left: 0; 
}